<!DOCTYPE html>
<html>
<head>
  <title>Heroku Configuration</title>
  <%= stylesheet_link_tag    "heroku_config_vars/application", :media => "all" %>
  <%= javascript_include_tag "heroku_config_vars/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Heroku Configuration</h1>

  <ul class="submenu">
    <li><%= menu_link 'Heroku Configuration Variables', heroku_app_path %></li>
    <li><%= menu_link 'Native Environment', env_path %></li>
  </ul>

<%= yield %>

</body>
</html>
